*{
    margin: 0;
    padding: 0;
}
.logo{
    background-color: #090D1C;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo-img{
    border-radius: 0 0 2em 2em;
    width: 75px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.nav-item{
    display: inline-block;
    float: left;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(28,208,208,1) 0%, rgb(29, 190, 23) 100%);
}
.navb li{
 list-style: none;
 margin-right: 30px;
 align-items: center;
 justify-content: center;
 text-align: center;
 display: inline-block;
}
.navb li a{
    color:  rgb(0, 81, 255);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: 0.4s ease all;
    
}
.navb li a:hover{
    color: #fff !important;
    padding:12px;
}


/* -----------carosel--------- */

.carousel-inner{
    box-shadow: 0 0 3px 2px ;
}
.carousel-item{
    width: 100%;
    height: 40vh;
    align-items: center;
    cursor: pointer;
}
.carosel-img{
    width: 100%;
    height: 40vh;
    
}
.carosel-text{
    color: #1cd0d0;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 15px;
}

#add-chart{
    color: rgb(224, 14, 14);
    padding: 8px 7px;
    margin-top: 20px;
    border: 3px solid #180a7a;
    background-color: gold;
    border-radius: 1em;
    margin-bottom: 30px;
    margin-right: 8px;
}

#buy-now{
    color: rgb(224, 14, 14);
    padding: 8px 7px;
    margin-top: 20px;
    border: 3px solid #180a7a;
    background-color: rgb(11, 204, 120);
    border-radius: 1em;
    margin-bottom: 30px;
}

/* ------lehengga----- */
#weman-lehengga{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* -----------------weman top----------- */
.card-img-top{
    cursor: pointer;
}
#weman-top{
    margin-top: 30px;
    margin-bottom: 30px;
}
.top-p{
    color: red;
    font-size: 25px;
    font-weight: 400;
}
.top-pp{
    color: green;
    font-size: 20px;
}
.top-ppp{
    color: rgb(240, 6, 6);
    font-size: 23px;font-weight: bold;
}
.top-btn{
    border: 2px solid green;
    border-radius: 2em;
    background-color: green;
    color: aliceblue;
    padding: 8px 7px;
    transition: 0.4s ease all;
}
.top-btn:hover{
    background-color: #180a7a;
}

/* ----man-shart------ */

#man-shart{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* -----footer------- */

#footer{
    min-width: 100%;
    min-height: 300px;
    height: auto;
}
.fa-brands{
    margin: 20px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
.fa-brands:hover{
    color: #180a7a;
}
.footer-ul a{
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    width: 100%;

}
.footer-ul a:hover{
    color: #230bbc;
}